# ============================================
# 3D 模型：走百度网盘，不进 Git
# ============================================
*.step
*.stp
*.wrl
*.iges
*.igs
*.3ds
*.obj
*.stl

# ============================================
# KiCad 临时文件、备份与缓存
# ============================================
*.bak
*.tmp
*.kicad_prl
fp-info-cache
*-backups/
*.kicad_pro
*.kicad_sch
*.kicad_pcb

# ============================================
# 编辑器与系统文件
# ============================================
.DS_Store
Thumbs.db
desktop.ini
.vscode/
.idea/
*.swp
*.swo
*~
